.darkClass {
    background-color: #56565a;
}

.link {
    font-size: 18px;
}

.noLRPadding {
    padding-left: 0px;
    padding-right: 0px;
}

.noLPadding {
    padding-left: 0px;
}

.noRPadding {
    padding-right: 0px;
}

.form-group.required .control-label:after, .signatureLabel:after, .required-after:after {
    content:" * ";
    color:#d9534f;
    font-weight: bold;
}

.required-message:before {
    content:"* ";
    color:#d9534f;
    font-weight: bold;
}

/* LOGIN FORM CSS */

.loginFormBody {
    background-color: #56565a;
}

.loginFormTopSection {
    padding: 0 25px 0px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.loginFormTopLeft {
    padding: 10px 10px;
}

.loginFormTopLeft h2, .loginFormTopLeft h3 { margin-top: 0; }

.loginFormTopRight {
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
}

.loginFormBottomSection {
    padding: 15px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}

.loginFormBottomSection h3 {
    margin-top: 0;
}

.link {
    font-size: 18px;
}

.loginError {
    font-size: 18px;
    color: red;
    margin-bottom: 15px;
}

@media(max-width: 428px) {
    .loginFormTopLeft {
        padding-left: 0px;
        padding-right: 0px;
    }

    .loginFormMiddle {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Uncomment if we want textboxes on login page on top of each other */
/*.emailAddressTextbox {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.passwordTextbox {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}*/

/* END LOGIN FORM CSS*/